@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
footer {
  z-index: 10;
  width: 100vw;
  height: 400px;
  border-top: 2px solid #455b86;
  margin-top: 30px;
  background-color: #fff;
  bottom: 0;
}
footer h3 {
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
footer h3,
footer p {
  width: 80%;
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  footer {
    height: 470px;
  }
  footer h3 {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.7rem;
  }
  footer .small {
    font-size: 0.6rem;
  }
}